<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Plan a trip to a desired location and get info and weather forecast for your journey">
  <meta name="keywords" content="Travel, Weather forecast">
  <meta name="author" content="Udacity, Romario Lorenz">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <header>
      <div>
        Travel
        <br>
        Planner
      </div>
    </header>
    <main>
      <!-- <section id="userInput"> -->
      <section class="trip item">
        <div class=""><img src="file:///Users/romi/Documents/dev/travel-app/src/client/media/polaroid.png" alt="cam-logo.png" width="400" height="400"/></div>
        <div class="holder date">
          <label for="startDate">Start date:</label>
          <input type="date" id="startDate" name="trip-start" value="" min="" required>
        </div>
        <div class="holder destination">
          <label for="destination">Where do you like to go?</label>
          <input class="myInput" id="destination" placeholder="enter city here"></input>
          <button id="generate" type="submit">Add Trip</button>
      </section>
      <section class="trip item">
        <div class="picture"></div>
        <div class="holder city">
          <h3 class="tripdestination"></h3>
          <h3 class="tripdate"></h3>
          <div class="countdown" id="countdown1">
            <span class="days">00</span>
            <span class="timeRefDays">days</span>
          </div>
        </div>
        <div class="holder weather" id="weather-container">
          <h3>weather forecast for your trip:</h3>
          <div id="weatherHolder">
            <div class="weather sunrise"></div>
            <div class="weather sunset"></div>
            <div class="weather temp"></div>
            <div class="weather summary"></div>
          </div>
        </div>
        
      </section>
    </main>
    <footer>
      <p>&copy Udacity</p>
    </footer>
  </div>
</body>

</html>