@import "./variables.scss";

body{
    background: $menu-color;
    font-family: 'Oswald', '-apple-system', 'BlinkMacSystemFont', sans-serif;
}

#app{
    width: 100%;
	padding: 0 2rem;
    background: $background-color;
    font-size: 20px;
    text-align: center;
}

main{
    width: 100vw;
    align-items: center;
    justify-items: stretch;
    // display: grid;
    // grid-template-columns: 35vw 55vw;
    // grid-template-areas: 
    // "input trip";
}

// #trip{
//     img{
//         width: 100%;
//     }
//     grid-area: trip;
//     display: grid;
//     grid-template-columns: 30vw 30vw;
//     grid-template-rows: 30vh 10vh 15vh;
//     grid-template-areas: 
//     "pic pic"
//     "header cntdwn"
//     "city weather";
//     // padding: 1.2rem;
//     // margin-top: 2.4rem;
//     // margin-bottom: 2.4rem;
//     // margin-right: 5vw;
//     background-color: $holder-color;
//     border: 1px solid $secondary-color;
//     border-radius: 5%;
//     width: 55vw;
//     min-height: 45vh;
//     box-shadow: 2px 4px 5px $primary-color;
// }

// #userInput{
//     grid-area: input;
//     width: 35vw;
//     margin-left: 5vw;
// }

header{
    background-color: $menu-color;
    color: $primary-color;
    display: block;
    width: 100vw;
    min-height: 80px;
    font-size: 1.5rem;
    padding-top: 3.75vh;
    padding-bottom: 2.75vh;
    padding-left: 2.25vw;
    align-items: center;
    justify-items: center;
}

// #picture{
//     grid-area: pic;
// }

// #tripheader{
//     grid-area: header;
// }

// .countdown{
//     grid-area: cntdwn;
// }

// .city{
//     grid-area: city;
// }

// .weather{
//     grid-area: weather;
// }

// .entry{
//     background: rgba(59, 74, 107, .4);
// }

// #entryHolder{

// }

// #date{

// }

// #temp{

// }

// #content{

// }

// .headline {

// }
// .title{

// }

/*  Basic Styling To Override Default For Basic HTML Elements */
// label{
//     display: flex;
//     font-size: 27px;
//     color: $primary-color;
// }

// input{
//     display: block;
//     height: 60px;
//     margin-bottom: 2em;
//     background-color: $holder-color;
//     color: $secondary-color;
//     font-size: 20px;
//     font-family: 'Oswald', sans-serif;
//     border-radius: 3%;
//     box-shadow: 2px 2px 3px $primary-color;
    
// }

// button{
//     background: $primary-color;
//     color: $secondary-color;
//     font-size: 26px;
//     padding: 0.5rem 1rem;
//     margin-top: 0.8rem;
//     font-family: 'Oswald', sans-serif;
//     border: none;
//     border-radius: 3%;
//     box-shadow: 2px 2px 3px $primary-color;
// }
// button:hover{
//     box-shadow: 2px 4px 5px $active-color;
// } 

// h1{
//     font-size: 36px;
// }

// textarea{
//     background-color: $holder-color;
//     color: $secondary-color;
//     font-size: 20px;
//     font-family: 'Oswald', sans-serif;
//     border-radius: 3%;
//     box-shadow: 2px 2px 3px $primary-color;
// }

// @media(max-width:600px) {
//     main{
//         grid-template-areas: 
//         "trip"
//         "input";
//     }
//   }

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: $secondary-color; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: $secondary-color; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: $secondary-color; 
    font-family: 'Oswald', sans-serif;

} 